<div class="data-table">
	<button mat-raised-button color="primary" class="new-building-btn" (click)="createBuilding()">
		{{ 'lore.list.button.createNew' | translate }}
	</button>
	<button mat-raised-button color="primary" class="go-humans-btn" (click)="goHumans()">
		{{ 'lore.list.button.goHumans' | translate }}
	</button>
	<button mat-raised-button color="primary" class="go-home-btn" (click)="goHome()">
		{{ 'lore.list.button.goHome' | translate }}
	</button>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		<ng-container matColumnDef="id">
			<th class="w-75" mat-header-cell *matHeaderCellDef>{{ 'lore.building.id' | translate }}</th>
			<td mat-cell *matCellDef="let element">
				<b>{{ element.id }}</b>
			</td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>{{ 'lore.building.name' | translate }}</th>
			<td mat-cell *matCellDef="let element">{{ element.name }}</td>
		</ng-container>

		<ng-container matColumnDef="address">
			<th mat-header-cell *matHeaderCellDef>{{ 'lore.building.address' | translate }}</th>
			<td mat-cell *matCellDef="let element">{{ element.address }}</td>
		</ng-container>

		<ng-container matColumnDef="sectorCode">
			<th class="w-100" mat-header-cell *matHeaderCellDef>{{ 'lore.building.sectorCode' | translate }}</th>
			<td mat-cell *matCellDef="let element">{{ element.sectorCode }}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th class="w-75" mat-header-cell *matHeaderCellDef>{{ 'common.table.actions' | translate }}</th>
			<td mat-cell *matCellDef="let element">
				<button mat-raised-button color="basic" (click)="updateBuilding(element.id)">
					{{ 'lore.list.button.edit' | translate }}
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
