table {
	width: 100%;
	min-width: 50em;
}

.data-table {
	padding: 2em;
	padding-top: 1em;
}

.new-human-btn {
	float: left;
	margin-bottom: 1em;
}

.go-buildings-btn {
	float: left;
	margin-bottom: 1em;
	margin-left: 2em;
}

.go-home-btn {
	float: left;
	margin-bottom: 1em;
	margin-left: 2em;
}

.w-75 {
	width: 75px;
}

.w-100 {
	width: 100px;
}

tr.mat-row:hover {
	background: whitesmoke;
}
