table {
	width: 100%;
	min-width: 50em;
}

.main-table {
	padding: 2em;
	padding-top: 1em;
}

.goto-humans-btn {
	float: left;
	margin-bottom: 1em;
	margin-left: 38.5em;
	padding: 15px 32px;
	font-size: 20px;
}

.goto-buildings-btn {
	float: left;
	margin-bottom: 1em;
	margin-left: 2em;
	padding: 15px 32px;
	font-size: 20px;
}

.w-75 {
	width: 75px;
}

.w-100 {
	width: 100px;
}

tr.mat-row:hover {
	background: whitesmoke;
}
