<div class="main-table">
	<body>
	<h1 style="text-align:center;">Welcome to FullStackCity!</h1>
    <h2 style="text-align:center;">We've got Humans and Buildings and Humans in Buildings.</h2>
    <h2 style="text-align:center;">Come take a look!</h2>
	</body>

	<button mat-raised-button color="primary" class="goto-humans-btn" (click)="gotoHumans()">
		Humans
	</button>
	
    <button mat-raised-button color="primary" class="goto-buildings-btn" (click)="gotoBuildings()">
		Buildings
	</button>
</div>
